body {
    background-color: #327afe;
}

header {
    background-image:   linear-gradient( rgb(74, 243, 83), #057e45,#057e45,#057e45, rgb(74, 243, 83)) ;
    margin: auto;
    text-align: center;
    border-radius: 15px;    
    height: 45px;
    margin-bottom: 20px;
    color: rgb(253, 253, 252);
}

main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
    
}



div {
    
    text-align: center;
    
}

.addplayer {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    
    
    
}

input {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 3px;
    
}

.search {
    padding-top: 20px;
    
}

ul {
    width: 200px;
    padding: 1px
}

li {
    background-color: #fedb32;
    list-style-type: none;
    border-bottom: solid 1px #327afe;
    height: 25px;
    border-radius: 2px;
    padding: 3px;
    
}

i {
    float: right;
    padding: auto;
    cursor: pointer;
    
}

.hidden {
    display: none;
}

label {
    color: blanchedalmond;
    font-weight: bold;
}

.progress {
    background-image:   linear-gradient( rgb(74, 243, 83), #057e45,#057e45,#057e45, rgb(74, 243, 83)) ;
    margin: auto;
    text-align: center;
    border-radius: 15px;    
    height: 45px;
    margin-bottom: 20px;
    color: rgb(253, 253, 252);
}

.progress > label {
    font-size: 25px;
}

progress {
    padding: 5px;
    width: 100px;
}

.ribamar {
    position: absolute;
    top: 210px;
    left: -250px;
    height: 200px;
}

.tite {
    height: 200px;
}

.neymar {
    height: 200px;
    position: absolute;
    bottom: 0px;
}

.vinicius {
    height: 200px;
    
}