*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #225954;
    width: auto;
   
}

nav a {
    text-decoration: none;
    position: absolute;
    right: 2px;
    font-size: 12px;
    color: #068125;
}

main {
    height: fit-content;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.icon-user{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 5px;
    background: white;
    border-radius: 50%;
}

header {
    background: #F2CB05;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container {
    background: #F2B705;
    padding: 5px;
    margin: 25px;
    width: max-content;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px black;

}

.add-container input, .add-container label, .add-container select, .add-container button {
    width: 200px;
    margin: 4px;
}

ul {
    background: linear-gradient(rgba(0, 0, 0, 0.466),rgba(128, 128, 128, 0.664));
    width: 260px;
    height: 350px;
    margin: 5px auto 15px auto;
    box-shadow: 2px 2px 5px black;
    overflow: auto;
}

ul h2 {
    
    color: #BF7E04;
    text-align: center;
}

li {
    background: #068125;
    width: 180px;
    margin: 8px auto 8px 50px;
    height: 26px;
    font-size: 20px;
    box-shadow: 2px 2px 5px black;
    color: white;
    font-weight: 700;
    position: relative;
}
.atac {
    list-style: url('atacante.png');
}


.mei {
    list-style: url('meia.png');
}

.zag {
    list-style: url('zageiro.png');
}

.gol {
    list-style: url('goleiro.png');
}

.lat {
    list-style: url('lateral.png');
}

i img {
    width: 10px;
    position: absolute;
    right: 5px;
    top: 9px;
    cursor: pointer;
}

.filder {
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto;
    background-image: url('imagens/partes-do-campo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 5px black;
    outline: 110px solid #BF7E04;
}

.filder h3 {
    position: relative;
    top: -30px;
    left: 0px;
    text-align: center;
}

.atack {
    position: absolute;
    right: -109px;
    top: 0px;
    width: 110px;
    height: 300px;
    border: 1px dotted black;
    background: #0027766b;
}

.filderCamp {
    position: absolute;
    bottom: -110px;
    width: 400px;
    height: 110px;
    border: 1px dotted black;
    background: #00277670;
}

.defenser {
    position: absolute;
    left: -109px;
    top: 0px;
    width: 110px;
    height: 300px;
    border: 1px dotted black;
    background: #0027766b;
}


footer {
    background: #F2CB05;
    position: absolute;
    bottom: calc(var(bottom)-70px);
    width: 100vw;
}

footer p {
    text-align: center;
}

button {
    background: #002776;
    border: none;
    color: white;
    padding: 4px;
    font-weight: 600;
}

button:hover {
    background: #BF7E04;
    color: #002776;
}


@media (max-width: 1200px) {

    header{ 
        height: 75px;
        text-align: center;
    }

    .icon-user{
      
        width: 50px;
        height: 50px;
       
    }
    
    .add-container {
        
        margin: 15px auto 15px auto;
    }
    
    main{
        flex-direction: column;
        height: max-content;
        justify-content: center;
    }

    ul, .filder {

        margin: 62px;
    }

    .filder {
        width: 200px;
        height: 150px;
    }

    .defenser, .atack{
       height: 150px;
    }

    .filderCamp {
        width: 200px;
    }

    footer{
        position: relative;
    }
}

.hide {
    visibility: hidden;
}

.wrapper-login {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 120px;
    background: wheat;
    border: 2px double #002776;
    justify-content: center;
    align-items: center;
    margin: 150px auto auto auto;
}